In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
from tqdm.auto import tqdm

In [4]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [5]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'
df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_data')
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi_data)

In [7]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [8]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [9]:
for batch in tqdm(df_iter):
    batch.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print(len(batch))

0it [00:00, ?it/s]

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765